#body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;

  background-color: whitesmoke;
  border: 2px solid black;
  padding: 16px;

  width: 200px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors */
#main > h3 {
  margin: 0px auto 16px;
}

.btn-container {
  display: flex;
  flex-direction: row;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox */

  /* cross axis */
  align-items: center;
  /* main axis */
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  width: 40px;
  height: 30px;

  border: 1px solid black;
}

.btn:hover {
  box-shadow: 0px 0px 5px;
}

#btn--no:hover {
  background-color: green;
}

#btn--yes:hover {
  background-color: red;
}

#btn--yes:active {
  background-color: rgb(183, 0, 0);
}

#btn--no:active {
  background-color: rgb(0, 80, 0);
}
